.DS_Store
# Core ML compiled models and large binary files
*.mlmodelc
**/weights/weight.bin
**/coremldata.bin

# Keep the source .mlmodel or .mlpackage files
# but ignore the compiled versions

.build/